NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=
ADMIN_PASSWORD=
NEXT_PUBLIC_ADMIN_PASSWORD=
NEXT_PUBLIC_OFFICE_CODE=C10
NEXT_PUBLIC_SCHOOL_CODE=7150404
